.services{
    padding: 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 13rem;
    margin-top: 9rem;

}
.awesome{
display: flex;
flex: 1;
flex-direction: column;
position: relative;
}
.awesome>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(3){
    margin-top: 1rem;
    color: var(--grey);
    font-size: 14px;
}
.sbutton{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}
.cards{
    display: flex;
    flex: 1;
    position: relative;
}
.cards > *{
    position: absolute;
}
.sblur2{
    left: 14rem;
    top: 8rem;
}
.sblur1{
    top: 19rem;
    left: -4rem;
}
.sblur3{
    top: 26rem;
    left: 12rem;
}